<!DOCTYPE html>
<html>
    <head>
        <title>Blog Page</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
    
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item"><i class="newspaper icon"></i>BLOG</div>
            <div class="header item"><a href="/blogs">HOME</a></div>
            <div class="header item"><a href="/blogs/new">NEW BLOG</a></div>
        </div>
    </div>
