<!DOCTYPE html>
<html>
    <head>
        <title>Blog Page</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
    </head>
    <body>
        <div class="container">
            <a class="ui inverted yellow button" href="/blogs">Take a Read!</a>
        </div>  
    </body>
</html>
